<section class="wvu-section">
  <div class="wvu-container">
    <h2 class="slash">Research</h2>
    <ul class="featurette__items">
          <li>
            <div class="featurette">
              <a href="<r:page:url />">
                <div>
                  <r:page:content name="featurette-thumbnail" />
                </div>
                <div class="featurette-highlight">
                  <r:page:name />
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="featurette">
              <a href="<r:page:url />">
                <div>
                  <r:page:content name="featurette-thumbnail" />
                </div>
                <div class="featurette-highlight">
                  <r:page:name />
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="featurette">
              <a href="<r:page:url />">
                <div>
                  <r:page:content name="featurette-thumbnail" />
                </div>
                <div class="featurette-highlight">
                  <r:page:name />
                </div>
              </a>
            </div>
          </li>
    </ul>
    <a href="/expertise" class="button button--big button--blue">See more research areas</a>
  </div>
</section>
