---
layout: default
---

<r:partial name="custom-patterns/backpage-header" />
  <div class="wvu-container">

    <main id="maincontent" class="main">

      <div class="wvu-profile__meta-info">
        <h1 class="wvu-profile__name">
          <a href="<r:page:content name="profile-link"/>"><r:page:name/></a>
        </h1>
        <r:edit_mode_only>
        <p>URL for profile goes here (leave blank for student profiles)</p>
          <r:editable_region name="profile-link" />    
          <p>To find a profile link, visit <a href="http://statler.wvu.edu/faculty-staff">http://statler.wvu.edu/faculty-staff</a></p>
        </r:edit_mode_only>
      </div>

      <!-- /.wvu-profile__meta-info -->

      <div class="wvu-profile__photo">
        <r:edit_mode_only>
        <p>Add a profile photo by double clicking the placeholder image. The images should be 250px by 250px. If you need help resizing or uploading the image, contact <a href="mailto:jason.markle@mail.wvu.edu"/>Jason Markle</a> or, if you need a photo taken, contact <a href="mailto:paige.nesbit@mail.wvu.edu"/>Paige Nesbit</a></p>
      </r:edit_mode_only>
        <r:editable_region name="wvu-profile__photo">
          <img src="http://placehold.it/250x250" />
        </r:editable_region>
      </div> <!-- /.wvu-profile__photo -->

    </main><!-- /.main -->

    <aside class="wvu-sidebar">
      <div class="wvu-sub-nav">
        <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
      </div> <!-- /.wvu-sub-nav -->
    </aside>

  </div> <!-- /.wvu-container -->
