---
layout: default
---

<r:partial name="custom-patterns/landingpage-header" />

<main class="wvu-section u-full-width">

    <div class="wvu-container">

      <ul id="maincontent" class="publications">
        <h2>Book Chapters</h2>
        <r:children:each labels="chapters">

          <li>
                <h3>
                  <a href="<r:page:url />"><r:page:name/></a>
                <h3>
                <p><em><r:page:content name="authors" /></em></p>
                <p><r:page:content name="events" /></p>
          </li>

          </r:children:each>
      </ul>


    <ul class="publications">
      <h2>Peer-reviewed Conference Publications</h2>
      <r:children:each labels="conferences">

        <li>
              <h3>
                <a href="<r:page:url />"><r:page:name/></a>
              <h3>
                <p class="wvu-lede-small"><r:page:content name="description" /></p>
                <p><em><r:page:content name="authors" /></em></p>
                <p><r:page:content name="events" /></p>
        </li>

        </r:children:each>
    </ul>

    <ul class="publications">
      <h2>Peer-reviewed Workshop Publications</h2>
      <r:children:each labels="workshops">

        <li>
              <h3>
                <a href="<r:page:url />"><r:page:name/></a>
              <h3>
                <p class="wvu-lede-small"><r:page:content name="description" /></p>
                <p><em><r:page:content name="authors" /></em></p>
                <p><r:page:content name="events" /></p>
        </li>

        </r:children:each>
    </ul>
</div>

</main>
