---
layout: default
---

<r:partial name="custom-patterns/landingpage-header" />

<main class="wvu-section u-full-width">

    <div class="wvu-container">

      <ul id="maincontent" class="publications">
        <r:children:each>

          <li>
                <h3>
                  <r:page:name />
                <h3>
                <p><em><r:page:content name="authors" /></em></p>
                <p><r:page:content name="events" /></p>
          </li>

          </r:children:each>
      </ul>
</div>

</main>
